<div class="container">
    <form class="form" [formGroup]="loginForm" (ngSubmit)="loginSubmit()">
        <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input
                matInput
                formControlName="email"
                placeholder="Ex. pat@example.com"
            />
            <mat-error *ngIf="this.loginForm.get('email')?.hasError('email')">
                Please enter a valid email address
            </mat-error>
            <mat-error
                *ngIf="this.loginForm.get('email')?.hasError('required')"
            >
                Email is <strong>required</strong>
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input
                type="password"
                matInput
                formControlName="password"
                placeholder="Ex. pat@example.com"
            />
            <mat-error
                *ngIf="this.loginForm.get('password')?.hasError('pattern')"
            >
                Please enter at least 8 characters include 1 digit
            </mat-error>
            <mat-error
                *ngIf="this.loginForm.get('password')?.hasError('required')"
            >
                Password is <strong>required</strong>
            </mat-error>
        </mat-form-field>

        <button
            [disabled]="loginForm.invalid"
            mat-raised-button
            color="primary"
            class="button"
            type="submit"
        >
            Login
        </button>
    </form>
</div>
